@CHARSET "ISO-8859-1";

.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.nav {
  padding: 0px;
  margin: 0px;
}
.nav li {
  display: inline;
  list-style-type: none;
  padding: 0px;
}

body {
  margin: 0px;
  background-color: rgb(103,0,1);
  background-image: url(http://rosebudsiouxtribe-nsn.gov/templates/rst_default/body_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  color: white;
  font-family: Verdana;
}

body a {
  color: yellow;
}

#page-wrapper {
  width: 960px;
  margin: 0px auto;
  text-align: left;
  background: transparent url(pictures/black50.png);
  background-color: rgba(0,0,0,0.5);
}

#header-content {
  padding: 1em;
  text-align: left;
}

#site-logo {
  float: left;
}
#site-logo img {
  width: 100px;
}
#site-name {
  padding-top: 1em;
}

#site-name .heading {
  padding-left: 120px;
}

#site-name .heading img {
  width: 700px;
  border: none;
}

#site-name .sub-heading {
  padding-top: 8px;
  padding-left: 120px;
  font-size: 1.5em;
  font-family: Georgia;
  font-size: 3em;
  font-style: italic;
}

#top-nav {
  background: transparent url(pictures/black50.png);
  background-color: rgba(0,0,0,0.5);
  padding: .5em 1em;
}

#top-nav li {
  padding-right: 1em;
}

#top-nav a {
  font-size: 1.2em;
  letter-spacing: -1px;
}

#body-content {
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content-block {
  margin-bottom: .5em;
  padding: 1em;
  background: transparent url(pictures/black50.png);
  background-color: rgba(0,0,0,0.5);
}
